html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**/
/*40px*/
/*26px*/
/*18px*/
/*16px*/
.wrap {
  width: 100%;
  height: 100vh;
  background-color: #2A2A2A;
  font-family: 'Roboto', sans-serif, 'Noto Sans TC', sans-serif;
  font-size: 2.3vh;
  margin: 0 auto;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  grid-template-areas: "aside playerinfo";
  -ms-grid-rows: 100%;
  grid-template-rows: 100%;
  -ms-grid-columns: 17.8% 82.2%;
  grid-template-columns: 17.8% 82.2%; }

.aside {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: aside;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(23%, #222222), to(#0C0C0C));
  background-image: -webkit-linear-gradient(top, #222222 23%, #0C0C0C 100%);
  background-image: -o-linear-gradient(top, #222222 23%, #0C0C0C 100%);
  background-image: linear-gradient(180deg, #222222 23%, #0C0C0C 100%);
  -webkit-box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.29);
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.29);
  display: -ms-grid;
  display: grid;
  grid-template-areas: "addalbum" "albumlist" "albumcover";
  -ms-grid-rows: 9.1% 64.3% 26.6%;
  grid-template-rows: 9.1% 64.3% 26.6%; }
  .aside .addalbum {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: addalbum;
    background: #161616;
    color: #979797;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 3vh; }
    .aside .addalbum h3 {
      display: inline-block; }
  .aside .albumlist {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: albumlist;
    color: #868686;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none; }
    .aside .albumlist::-webkit-scrollbar {
      display: none; }
    .aside .albumlist li {
      height: 6.25vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      padding: 0 3vh; }
      .aside .albumlist li:hover {
        background: rgba(42, 42, 42, 0.9);
        background-image: -webkit-gradient(linear, right top, left top, from(#FFA883), to(#3927FF));
        background-image: -webkit-linear-gradient(right, #FFA883 0%, #3927FF 100%);
        background-image: -o-linear-gradient(right, #FFA883 0%, #3927FF 100%);
        background-image: linear-gradient(270deg, #FFA883 0%, #3927FF 100%);
        color: #FFF; }
  .aside .albumcover {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: albumcover;
    background-image: url(https://c-sf.smule.com/sf/s94/arr/f2/44/3042f50c-93d8-4553-b69d-acd60d416908_512.jpg);
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    color: #FFF;
    padding: 0 3vh; }
    .aside .albumcover h3 {
      padding-bottom: .5vh; }
    .aside .albumcover p {
      color: #959595; }
    .aside .albumcover h2 {
      font-size: 3.3vh; }

.playerinfo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: playerinfo;
  display: -ms-grid;
  display: grid;
  grid-template-areas: ". . ." "searchnlogin searchnlogin searchnlogin" ". . ." ". albumdetail ." ". . ." ". tunemenu ." "playerbar playerbar playerbar";
  -ms-grid-rows: 4fr 4.3% 35fr 23% 11fr 38.3% 9.4%;
  grid-template-rows: 4fr 4.3% 35fr 23% 11fr 38.3% 9.4%;
  -ms-grid-columns: 1fr 88.4% 1fr;
  grid-template-columns: 1fr 88.4% 1fr; }
  .playerinfo .searchnlogin {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: searchnlogin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .playerinfo .albumdetail {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: albumdetail;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .playerinfo .albumdetail .albumcover img {
      height: 23vh; }
    .playerinfo .albumdetail .albumtitle {
      color: #fff;
      width: 60vh; }
      .playerinfo .albumdetail .albumtitle h1 {
        font-size: 5vh;
        font-weight: bold;
        margin-bottom: 3.8%; }
      .playerinfo .albumdetail .albumtitle p {
        line-height: 3vh; }
    .playerinfo .albumdetail .albumbutton {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .playerinfo .albumdetail .albumbutton .addtomyalbum {
        color: #fff;
        font-family: 'Roboto', sans-serif, 'Noto Sans TC', sans-serif;
        font-size: 2vh;
        width: 171px;
        height: 5.4vh;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 23.5px;
        border: none; }
      .playerinfo .albumdetail .albumbutton .playmusic {
        width: 10vh;
        height: 10vh;
        background-image: -webkit-linear-gradient(223deg, #FFA883 0%, #3927FF 100%);
        background-image: -o-linear-gradient(223deg, #FFA883 0%, #3927FF 100%);
        background-image: linear-gradient(227deg, #FFA883 0%, #3927FF 100%);
        -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
        border: none;
        border-radius: 50%;
        padding: 0; }
      .playerinfo .albumdetail .albumbutton i {
        color: #fff;
        font-size: 3.3vh;
        text-align: right;
        vertical-align: middle; }
  .playerinfo .tunemenu {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
    grid-area: tunemenu;
    background-color: #2A2A2A; }
  .playerinfo .playerbar {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: playerbar;
    background-color: #1D1D1D; }
