@import "reset";
/**/
$font-l: 5vh;/*40px*/
$font-m: 3.3vh;/*26px*/
$font-s: 2.3vh;/*18px*/
$font-ss:2vh;/*16px*/

.wrap {
  width: 100%;
  height: 100vh;
  background-color: #2A2A2A;
  font-family: 'Roboto', sans-serif, 'Noto Sans TC', sans-serif;
  font-size: $font-s;
  margin: 0 auto;
  overflow: hidden;
  display: grid;
  grid-template-areas: "aside playerinfo";
  grid-template-rows: 100%; 
  grid-template-columns: 17.8% 82.2%;
}

.aside {
  grid-area: aside;
  background-image: linear-gradient(180deg, #222222 23%, #0C0C0C 100%);
  box-shadow: 0 2px 30px 0 rgba(0,0,0,0.29);
  display: grid;
  grid-template-areas: "addalbum"
                       "albumlist"
                       "albumcover";
  grid-template-rows: 9.1% 64.3% 26.6%;
  .addalbum {
    grid-area: addalbum;
    background: #161616;
    color: #979797;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vh;
    h3 {
      display: inline-block;
    }
  }
  .albumlist {
    grid-area: albumlist;
    color: #868686;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
    li {
      height: 6.25vh;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0 3vh;
      &:hover {
        background: rgba(42,42,42,0.90);
        background-image: linear-gradient(270deg, #FFA883 0%, #3927FF 100%);
        color: #FFF;
      }
    }
  }
  .albumcover {
    grid-area: albumcover;
    background-image: url(https://c-sf.smule.com/sf/s94/arr/f2/44/3042f50c-93d8-4553-b69d-acd60d416908_512.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #FFF;
    padding: 0 3vh;
    h3 {
      padding-bottom: .5vh;
    }
    p {
      color: #959595;
    }
    h2 {
      font-size: $font-m;
    }
  }
}

.playerinfo {
  grid-area: playerinfo;
  display: grid;
  grid-template-areas: ". . ."
                       "searchnlogin searchnlogin searchnlogin"
                       ". . ."
                       ". albumdetail ."
                       ". . ."
                       ". tunemenu ."
                       "playerbar playerbar playerbar";
  grid-template-rows: 4fr 4.3% 35fr 23% 11fr 38.3% 9.4%;
  grid-template-columns: 1fr 88.4% 1fr;
  .searchnlogin {
    grid-area: searchnlogin;
    display: flex;
    justify-content: space-between;
  }
  .albumdetail {
    grid-area: albumdetail;
    display: flex;
    justify-content: space-around;
    .albumcover img {
      height: 23vh;
    }
    .albumtitle {
      color: #fff;
      width: 60vh;
      h1 {
        font-size: $font-l;
        font-weight: bold;
        margin-bottom: 3.8%;
      }
      p {
        line-height: 3vh;
      }
    }
    .albumbutton {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .addtomyalbum {
        color: #fff;
        font-family: 'Roboto', sans-serif, 'Noto Sans TC', sans-serif;
        font-size: $font-ss;
        width: 171px;
        height: 5.4vh;
        background: rgba(0,0,0,0.60);
        border-radius: 23.5px;
        border: none;
      }
      .playmusic {
        width: 10vh;
        height: 10vh;
        background-image: linear-gradient(227deg, #FFA883 0%, #3927FF 100%);
        box-shadow: 0 2px 8px 0 rgba(0,0,0,0.50);
        border: none;
        border-radius: 50%;
        padding: 0;
      }
      i {
        color: #fff;
        font-size: $font-m;
        text-align: right;
        vertical-align: middle;
      }
    }
  }
  .tunemenu {
    grid-area: tunemenu;
  background-color: #2A2A2A;;
  }

  .playerbar {
    grid-area: playerbar;
    background-color: #1D1D1D;;
  }
}

